@page "/evaluationpoints/add"

<Header Value="Evaluation Points Add"></Header>

<div class="content">
    <div class="row">
        <div class="col-9">
            <form method="post">
                <div class="row m-md-2">
                    <div class="col-6">
                        <label for="name">Name evaluation point:</label>
                        <input type="text" id="name" class="form-control form-control-sm" />
                    </div>
                    <div class="col-6">
                        <label for="description">Description:</label>
                        <textarea id="description" class="form-control form-control-sm"></textarea>
                    </div>
                </div>
                <div class="row m-md-2">
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Name evaluation point item" />
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="btn-light " value="Add row" />
                    </div>
                </div>
                <div class="row m-md-2">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="table-light">Order</th>
                                    <th scope="col" class="table-light">Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>low</td>
                                    <td>
                                        <a href="#">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>middle</td>
                                    <td>
                                        <a href="#">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row m-md-2 text-right">
                    <div class="col-12">
                        <hr />
                        <input type="submit" class="btn-light" value="Сancel"/>
                        <input type="submit" class="btn-light" value="Save"/>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

@code {

}
