<div>
    <div class="search-container m-2">
        <div>
            <div class="form-outline">
                <label class="form-label m-2" for="searchInput">Search areas: </label>
                <input type="search" autocomplete="off" @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeyup="SearchChanged" placeholder="type area name..." id="searchInput" />
            </div>
        </div>
        @if (areas.Count != 0)
        {
            <ul class="search-dropdown">
                <li><hr class="dropdown-divider" /></li>
                @foreach (var area in areas)
                {
                    <li>
                        <div class="dropdown-item">
                            <div class="row">
                                <div class="col-sm">@area.Name</div>
                                <div class="col-sm">
                                    <button @onclick="@(()=>AddAreaClicked(area))" class="btn-primary float-right">Add</button>
                                </div>
                            </div>

                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>
