<div class="container-fluid navbar-light bg-light border">
    <div class="row text-center">
        <div class="col-10">
            <h3>@Value</h3>
        </div>
        <div class="col-2">
            <a href="">
                <span class="oi oi-account-login"></span>
            </a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Value { get; set; }
}
