
<div class="container-fluid navbar-light bg-light border">
    <div class="row text-center m-md-2">
        <div class="col-10">
            <h3>@Value</h3>
        </div>
        <div class="col-2">
            <a href="">
                <span class="oi oi-account-login"></span>
            </a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Value { get; set; }

    public void SetTitle(string title) 
    {
        Value = title;
        StateHasChanged();
    }
}
<MudAppBarSpacer />
    <MudText Typo="Typo.h5" Class="ml-3" Align="Align.Center">@Value</MudText>
<MudAppBarSpacer />
