body {
    position: relative;
    display: flex;
}

.head {
    height: 3.5rem;
    background-color:#05163d;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.text{
    color:white;
}
